body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  transition: background-color 0.3s, color 0.3s;
}

h1 {
  background-color: skyblue;
}

#generator-btn, #dark-mode-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#numbers-container {
  display: flex;
  margin-top: 20px;
}

.number-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  font-size: 20px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode h1 {
  background-color: #333;
  color: #ffffff;
}

body.dark-mode .number-circle {
  background-color: #555;
  color: #ffffff;
}