body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}

header {
  background-color: #f8f8f8;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

nav {
  display: flex;
  justify-content: center;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.articles {
  margin-top: 40px;
}

.articles h2 {
  margin-bottom: 20px;
}

.articles ul {
  list-style: none;
  padding: 0;
}

.articles li {
  margin-bottom: 10px;
}

.articles a {
  text-decoration: none;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 5px;
}

form input, form textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
}

#numbers-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.number-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  font-size: 20px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode header {
  background-color: #222;
  border-bottom: 1px solid #444;
}

body.dark-mode nav a {
  color: #fff;
}

body.dark-mode .articles a {
  color: #fff;
}

body.dark-mode form input, body.dark-mode form textarea {
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
}

body.dark-mode .number-circle {
  background-color: #555;
  color: #ffffff;
}