body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#generator-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#numbers-container {
  display: flex;
  margin-top: 20px;
}

.number-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  font-size: 20px;
  font-weight: bold;
}